# ==========================================
# 1. AMBIENTE VIRTUAL E CACHE PYTHON (Backend)
# ==========================================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/3
.env

# ==========================================
# 2. DEPENDÊNCIAS FRONTEND (React / Node)
# ==========================================
node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# 3. DADOS LOCAIS E RELATÓRIOS (Projeto Nexus)
# ==========================================
# Ignorar o banco de dados local para não sobrescrever a produção


# ==========================================
# 4. CONFIGURAÇÕES DE IDE E SISTEMA OPERACIONAL
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db